<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Currency Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="header-left">
            <h1>
                <a href="/" class="header-logo-link">
                Currency Dashboard<img src="/static/images/dash.png"
                 alt="Dashboard Icon"
                 class="header-icon-1">
                </a>
            </h1>
        </div>
        <div class="header-right">
            {% block header_right %}
                <!-- Блок для кнопок авторизации/профиля -->
                {% if user %}
                    <div class="user-info">
                        <form method="post" action="/users/logout" class="logout-form">
                            <button type="submit" class="logout-btn">Log out</button>
                        </form>
                    </div>
                {% else %}
                    <button onclick="toggleModal('loginModal')" class="auth-btn">Sign in</button>
                    <button onclick="toggleModal('registerModal')" class="auth-btn register-btn">Sign up</button>
                {% endif %}
            {% endblock %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="main-footer">
        <p>&copy; 2025 TeamX</p>
        <p>All rights reserved</p>
    </footer>
</body>
</html>