<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h2>Bruh</h2>
    <form action="/users/login" method="post">
        <input type="email" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="pomogite" required>
        <button type="submit">LETS gooooo</button>
    </form>
    
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>
